@charset "UTF-8";
@import "LT_defaults";

body {
    background-color: $whitesmoke;
    color: $black;
}

// Demo
h1 {
    margin: 5px 0;
    padding-left: 10px;
}

p {
    padding: 0 10px;
    font-size: 13px;
    @include breakpoint(phone) { font-size: 20px; }
    @include breakpoint(phablet) { font-size: 20px; }
}
// end Demo

#wrapper {
    margin: 0 auto;
    @include breakpoint(desktop) { width: 980px; } // this will make the wrapper 980px only on desktop, else it is 100%; 
}